
.container{
  height: 100vh;
    width: 100vw;
    align-items: stretch;
  overflow: hidden;
  background-size: cover;
  background-image: url("./photos/food-background.jpg");
  position: sticky;
}

.box{
  background-image:linear-gradient(green, yellow);
  padding: 40px 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  margin-top: 150px;
  
  border-radius:50px;
  height: 300px;
  width: 600px;	
  position: sticky;
  float:right;
}
.boxsign{
  background-image:linear-gradient(green, yellow);
  padding: 40px 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  margin-top: 150px;  
  border-radius:50px;
  height: 550px;
  width: 600px;	
  position: sticky;
  float:right;

}

nav{
  font-size: 25px;
	float:right;
	margin-right: -5%;
	padding: 5px;
	margin-top:-20px;
}
.logo{
  font-size: 25px;
	float:left;
  padding: 5px;
  margin-left: -380%;
  margin-top:-20px;
  height: 70px;
  width: auto;
}
.header{
  padding: 2%;
  background-color: lawngreen;
  position: sticky;
  top: 0;
}